[submodule "external/byte-stuffing"]
	path = external/byte-stuffing
	url = https://github.com/ocanath/byte-stuffing
[submodule "external/dartt-protocol"]
	path = external/dartt-protocol
	url = https://github.com/ocanath/dartt-protocol
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/mujoco"]
	path = external/mujoco
	url = https://github.com/google-deepmind/mujoco
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/velodyne_decoder"]
	path = external/velodyne_decoder
	url = https://github.com/valgur/velodyne_decoder
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
